{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block content %}
<!-- Page content-->


<!-- Page header with logo and tagline-->
    <header class="py-5 bg-light border-bottom mb-4">
        <div class="container">
            <div class="text-center my-5">
                <h1 class="fw-bolder">Bienvenue</h1>
                <p class="lead mb-0">Parier, c'est gagner</p>
            </div>
        </div>
    </header>
<div class="container mt-5">
   

    <section class="mt-4">
        <h2 class="mb-4">Matchs à venir</h2>
        <div class="row">
            <!-- Card 1 -->
            <div class="col-12 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body text-center">
                        <h5 class="card-title">Équipe A vs Équipe B</h5>
                        <p class="card-text">Date du match : 6 septembre 2024</p>
                        <div class="d-flex justify-content-center gap-3">
                            <button class="btn btn-success">Parier sur l'equipe A</button>
                            <button class="btn btn-danger">Parier sur l'equipe B</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Card 2 -->
            <div class="col-12 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body text-center">
                        <h5 class="card-title">Équipe C vs Équipe D</h5>
                        <p class="card-text">Date du match : 7 septembre 2024</p>
                        <div class="d-flex justify-content-center gap-3">
                            <button class="btn btn-success">Parier sur l'equipe A</button>
                            <button class="btn btn-danger">Parier sur l'equipe B</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
